In [1]:
def add():
    return 10+10

In [2]:
print(add)
#everything in python is an object
#add here is function object

<function add at 0x055DEC90>

In [5]:
add=lambda a,b:a+b

In [6]:
print(add)

<function <lambda> at 0x05837150>

In [7]:
add(1,2)

3

In [8]:
a=[5,3,6,5,42,32,1,2,4,6]

In [9]:
sorted(a)

[1, 2, 3, 4, 5, 5, 6, 6, 32, 42]

In [10]:
a=[("sagar",9),("tiwari",8),("ram",5),("roshan",2)]

In [11]:
sorted(a)

[('ram', 5), ('roshan', 2), ('sagar', 9), ('tiwari', 8)]

In [12]:
sorted(a,key=lambda x:x[1])

[('roshan', 2), ('ram', 5), ('tiwari', 8), ('sagar', 9)]